{erl_opts, [debug_info]}.
{deps, [
%%  {cowboy, "2.11.0"},
  {cowboy, {git, "git@github.com:ninenines/cowboy.git", {tag, "2.11.0"}}},
%%  {poolboy, "~> 1.5.1"},
  {poolboy, {git, "git@github.com:devinus/poolboy.git", {tag, "1.5.1"}}},
%%  {jiffy, "~> 1.1.1"},
  {jiffy, {git, "git@github.com:davisp/jiffy.git", {tag, "1.1.1"}}},
%%  {lager, "~> 3.9.1"},
  {lager, {git, "git@github.com:erlang-lager/lager.git", {tag, "3.9.1"}}},
%%  {gproc, "~> 0.5.0"},
  {gproc, {git, "git@github.com:uwiger/gproc.git", {tag, "v0.2.10"}}},
%%  {emysql, "~> 0.4.1"}
  {emysql, {git, "git@github.com:Eonblast/Emysql.git", {tag, "0.4.1"}}}
  ]}.

{relx, [{release, {simple, "0.1.0"},
         [simple,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/game1.config"},
        {vm_args, "./config/game1.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.
{rebar_packages_cdn, "https://hexpm.upyun.com"}.

{plugins, [
  {rebar3_hex, {git, "git@github.com:hexpm/rebar3_hex.git", {branch, "main"}}}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
