{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "~> 2.10.0"},
  {cowboy, {git, "https://github.com/ninenines/cowboy.git"}, {tag, "2.10.0"}},
  {poolboy, "~> 1.5.1"},
  {poolboy, {git, "https://github.com/devinus/poolboy.git"}, {tag, "1.5.1"}},
  {jiffy, "~> 1.1.1"},
  {jiffy, {git, "https://github.com/davisp/jiffy.git"}, {tag, "1.1.1"}},
  {large, "~> 3.9.1"},
  {large, {git, "https://github.com/erlang-lager/lager.git"}, {tag, "3.9.1"}},
  {gproc, "~> 0.5.0"},
  {gproc, {git, "https://github.com/uwiger/gproc.git"}, {tag, "0.5.0"}},
  {emysql, "~> 0.4.1"},
  {emysql, {git, "https://github.com/Eonblast/Emysql.git"}, {tag, "0.4.1"}}

  ]}.

{relx, [{release, {simple, "0.1.0"},
         [simple,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
