[
    {mysql, [
        {host, "127.0.0.1"},
        {port, 3306},
        {user, "root"},
        {password, "123456"},
        {database, "simple_game1"},
        {size, 10},
        {encode, 'utf8'}
    ]},
    {lager, [
        {log_root, "./log"}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "./log/sasl_1.log"}}
    ]}
].