[
    {simple, [
        {mysql_host, "127.0.0.1"},
        {mysql_port, 3306},
        {mysql_user, "root"},
        {mysql_password, "123456"},
        {mysql_database, "simple_game1"},
        {mysql_size, 10},
        {mysql_encode, 'utf8'},

        {tcp_port, 9999},
        {tcp_acceptor_num, 10}
    ]

    },
    {lager, [
        {log_root, "./log"}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "./log/sasl_1.log"}}
    ]}
].